.nav {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 15px;
  font-size: 2em;
}

.nav a {
  color: white;
  text-decoration: none;
}

.currencies {
  padding: 20px;
}

.currencies h2 {
  margin: 10px 0;
}
